*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    font-family: "Quicksand", serif;
}
/* Common css style */
body button{
    cursor: pointer;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
.color-1{
    color: #01ACFD;
}
.color-2{
    color: #FEA301;
}
.color-3{
    color: #05D4DF;
}
.color-4{
    color: #5D58EF;
}
.color-5{
    color: #8700FF;
}
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.sec-heading{
    font-size: 2.87rem;
    font-weight: bold;
    line-height: 57.5px;
    color: #000000;
}
.pra-style{
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.3;
    color: rgba(128, 128, 128, 1);
}

/*///////////////// header style /////////////////*/
header marquee{
    background: #01ACFD;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    display: flex;
    align-items: center;
}
header marquee i{
    color: #000000;
    font-size: 1.25rem;
}

/*////// Nav style /////*/
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header nav .nav-logo{
    justify-content: center;
    align-items: center;
}
header nav .nav-logo img{
    width: 62px;
}
header nav .nav-logo h2{
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}
header nav .nav-menu ul{
    list-style: none;
    gap: 32px;
}
header nav .nav-menu a{
    text-decoration: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: bold;
}
header nav .nav-menu a:hover{
    color: #000;
}
header nav .nav-btn #contact-btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background: orange;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}
header nav .nav-btn #contact-btn:hover{
    background: #8700FF;
    transition: 0.5s;
}
header nav .nav-btn #bars-btn{
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #000;
    display: none;
}
header nav .nav-btn #bars-btn:hover{
    color: #FEA301;
}


/*/////Hero Section style //////*/
.hero-section .hero-container{
    align-items: center;
    justify-content: space-between;
}
.hero-section .hero-container .hero-left .hero-des{
    max-width: 640px;
}
.hero-section .hero-container .hero-left .hero-des h1{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 61px;
}
.hero-section .hero-container .hero-left .hero-des p{
    font-size: 20px;
    font-weight: normal;
    line-height: auto;
    margin: 24px 0;
}
.hero-section .hero-container .hero-left #hero-btn{
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    background: #000000;
    border: none;
    border-radius: 12px;
    padding: 15px 48px;
}
.hero-section .hero-container .hero-left #hero-btn:hover{
    background: #8700FF;
    transition: 0.5s;
}
.hero-section .hero-container .hero-right img{
    width: 100%;
}

/*//////////////// Curriculum Section style ////////////*/
.curriculum-section{
    padding: 60px 0;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.curriculum-section .curriculum-container{
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
}
.curriculum-section .curriculum-container .curriculum-card{
    max-width: 368px;
    padding: 52px 40px;
    border-radius: 18.86px;
}
.curriculum-section .curriculum-container #card-1{
    box-shadow: 0 0 0.3px 1.94px rgba(222, 245, 255, 1);
    background-image: linear-gradient(180deg, rgba(222, 245, 255, 1), rgb(255, 255, 255));
}
.curriculum-section .curriculum-container #card-2{
    box-shadow: 0 0 0.3px 1.94px rgba(255, 244, 220, 1);
    background-image: linear-gradient(180deg, rgba(255, 244, 220, 1), rgb(255, 255, 255));
}
.curriculum-section .curriculum-container #card-3{
    box-shadow: 0 0 0.3px 1.94px rgba(242, 232, 255, 1);
    background-image: linear-gradient(180deg, rgba(242, 232, 255, 1), rgb(255, 255, 255));
}
.curriculum-section .curriculum-container .curriculum-card img{
    width: 142px;
}
.curriculum-section .curriculum-container .curriculum-card h3{
   font-size: 1.53rem;
   font-weight: bold;
   line-height: 30.7px;
   color: #202020;
   margin: 33px 0; 
}
.curriculum-section .curriculum-container .curriculum-card p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.3px;
    color: #808080;
    font-family: "Raleway", serif;
    margin-bottom: 33px;
}
.curriculum-section .curriculum-container .curriculum-card button{
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
.curriculum-section .curriculum-container .curriculum-card button i{
    margin-left: 10px;
}
.curriculum-section .curriculum-container .curriculum-card button:hover{
    color: #000000;
    transition: 0.5s;
}
.curriculum-section .arrow-icon-sec button{
    width: 60px;
    height: 60px;
    background: #FEA301;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.curriculum-section .arrow-icon-sec button:hover{
    background: #8700FF;
    transition: 0.5s;
}

/*//////////////// Stories Section style ////////////*/
.stories-section{
    padding: 60px 0;
    background-image: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    /* background-repeat: no-repeat; */
    background-size: auto;
    background-position: 225px 0;
}
.stories-section .stories-container{
    margin-top: 80px;
    gap: 18px;
}
.stories-section .stories-container .stories-left{
    border-radius: 16px;
    background-color: white;
    border-radius: 16px;
}
.stories-container .stories-left .stories-img{
    position: relative;
    margin-bottom: 40px;
}
.stories-section .stories-container .stories-left .stories-img img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.stories-section .stories-container .stories-left .Stories-date{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    font-family: "Raleway", serif;
    background: #3CD8E8;
    width: 175px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    text-align: center;
    z-index: 100;
    position: absolute;
    bottom: -18px;
    left: 38px;
}
.stories-section .stories-container .stories-left .stories-text{
    padding: 0 69px 0 39px;
}
.stories-section .stories-container .stories-left .stories-text h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 48px;
}
.stories-section .stories-container .stories-left .stories-text p{
    font-size: 1rem;
    font-family: "Raleway", serif;
    font-weight: 500;
    line-height: 28.8px;
    color: #666666;
}
.stories-section .stories-container .stories-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}
.stories-section .stories-container .stories-right .stories-item{
    width: 290px;
    height: 301px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
}
.stories-section .stories-container .stories-right .stories-item .right-stories-img{
    position: relative;
    margin-bottom: 40px;
}
.stories-section .stories-container .stories-right .stories-item .right-stories-img .Stories-date{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    font-family: "Raleway", serif;
    background: #95B226;
    width: 175px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    text-align: center;
    z-index: 100;
    position: absolute;
    bottom: -18px;
    left: 38px;
}
.stories-section .stories-container .stories-right .stories-item .right-stories-img > #stories-item-2-date{
    background: #5D58F0;
}
.stories-section .stories-container .stories-right .stories-item .right-stories-img img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.stories-section .stories-container .stories-right #stories-item-5, #stories-item-6{
    display: none;
}
.stories-section .stories-container .stories-right .stories-item .stories-text h3{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    line-height: 28.8px;
}
.stories-section .stories-container .stories-right .stories-item .stories-text{
    padding: 0 69px 0 39px;
}
.stories-section .container .stories-btn{
    margin-top: 80px;
}
.stories-section .container .stories-btn button{
    font-size: 1.25rem;
    font-weight: bold;
    background: #000;
    color: white;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
}
.stories-section .container .stories-btn button:hover{
    background: #8700FF;
    transition: 0.5s;
}
/*//////////////// Footer Section style ////////////*/
footer{
    padding: 123px 0 174px 0;
    background: #01ACFD;
}
footer .footer-container{
    justify-content: space-between;
}
footer .footer-container .footer-left p{
    font-size: 1.25rem;
    font-weight: normal;
    line-height: auto;
    color: white;
    margin-top: 35px;
    max-width: 400px;
}
footer .footer-container .footer-left .footer-logo{
    align-items: center;
    font-size: 1.25rem;
    color: white;
}
footer .footer-container .footer-mid h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}
footer .footer-container .footer-mid ul{
    list-style: none;
}
footer .footer-container .footer-mid ul li a{
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    outline: none;
}
footer .footer-container .footer-mid li{
    margin-bottom: 20px;
}
footer .footer-container .footer-right h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}
footer .footer-container .footer-right ul{
    list-style: none;
    gap: 10px;
}

/* //////////// Media Query Responsive /////////////*/


/*///////////////// For Smallest Device //////////////////////*/

@media screen and (max-width: 577px) {
    header marquee{
        display: none;
    }
    header nav{
        padding: 20px;
        border: 1px solid #FEA301;
    }
    header nav .nav-menu{
        display: none;
    }
    header nav .nav-logo h2{
        display: none;
    }
    header nav .nav-btn #contact-btn{
        display: none;
    }
    header nav .nav-btn #bars-btn{
        display: block;
    }
    .hero-section{
        padding: 20px;
        text-align: center;
    }
    .hero-section .hero-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .curriculum-section .curriculum-container{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
    .curriculum-section .curriculum-container .curriculum-card{
        margin: 0 auto;
    }
    .curriculum-section .arrow-icon-sec{
        display: none;
    }
    .stories-section .stories-container{
        flex-direction: column;
    }
    .stories-container .stories-left{
        display: none;
    }
    .stories-section .stories-container .stories-right #stories-item-5, #stories-item-6{
        display: block;
    }
    .stories-section .stories-container .stories-right .stories-item{
        width: 100%;
        height: auto;
    }
    .stories-section .stories-container .stories-right .stories-item .right-stories-img .Stories-date{
        left: 10px;
    }
    .stories-section .stories-container .stories-right .stories-item .stories-text{
        padding: 20px 10px 20px 10px;
    }
    .stories-section .stories-container .stories-right{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 16px;
    }
    .stories-section .stories-container .stories-right .stories-item{
        margin: 0 auto;
    }
    .footer-container{
        flex-direction: column;
        padding-left: 20px;
        gap: 30px;
    }

}


/*/////////////////// For Medium Device //////////////*/
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container{
        width: auto;
    }
    header nav{
        padding: 30px;
        border: 1px solid #FEA301;
    }
    header nav .nav-menu{
        display: none;
    }
    header nav .nav-btn #contact-btn{
        display: none;
    }
    header nav .nav-btn #bars-btn{
        display: block;
    }
    .hero-section{
        padding: 20px;
        text-align: center;
    }
    .hero-section .hero-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .curriculum-section .curriculum-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .curriculum-section .curriculum-container .curriculum-card{
        margin: 0 auto;
    }
    .stories-section .stories-container{
        flex-direction: column;
    }
    .stories-section .stories-left{
        margin: 0 50px;
        margin-bottom: 20px;
    }
    .stories-left .stories-text p{
        margin-bottom: 40px;
    }
    .stories-section .stories-container .stories-right{
        grid-template-columns: repeat(2, 1fr);
    }
    .stories-section .stories-container .stories-right .stories-item{
        margin: 0 auto;
    }
    .stories-section .stories-container .stories-right .stories-item{
        width: 350px;
        height: 350px;
    }
    .footer-container{
        flex-wrap: wrap;
        padding: 30px;
        gap: 20px;
    }

}

/*///// For Width 400px Device //////*/
@media screen and (max-width: 400px) {
    .stories-section .stories-container .stories-right{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 0 20px;
    }
}